=link_to author, class: 'list-group-item' do
  .media
    -if author.avatar?
      .media-left=image_tag author.avatar.url(:thumb), alt: author.name, class: 'media-object'
    .media-body
      %h4.media-heading=author.name

