= form_for @author do |f|
  =error_messages_for @author
  .row
    .col-md-3
      .form-group
        =f.label :name
        =f.text_field :name, class: 'form-control'
    .col-md-3
      .form-group
        =f.label :birthday
        =f.text_field :birthday, class: 'form-control', data: {masked: 'date'}, value: (l(@author.birthday) if @author.birthday)
    .col-md-3
      .form-group
        =f.label :avatar
        =f.file_field :avatar
      -if @author.avatar?
        .text-center
          =link_to @author.avatar.url do
            =image_tag @author.avatar.url(:thumb), alt: Author.human_attribute_name(:avatar)
  .actions
    = f.submit nil, class: 'btn btn-primary'
