.page-header
  %h1
    =@author.name
-if Author.manage?(@current_user)
  .btn-toolbar
    =link_to edit_author_path(@author), class: 'btn btn-primary' do
      =fa_icon 'pencil'
      Редактировать
    -if @author.can_destroy?
      =link_to @author, data: {method: :delete, confirm: ('helpers.sure')}, class: 'btn btn-danger' do
        =fa_icon 'trash'
        Удалить
%p
.row
  .col-md-3
    -if @author.avatar?
      =image_tag @author.avatar.url(:medium), alt: @author.name, class: 'img-responsive'

  .col-md-5
    -if @author.birthday
      %dl
        %dt Дата рождения
        %dd
          =l(@author.birthday, format: :long)
          %span.text-muted
            =surround ?(,?) do
              =@author.human_age

    -if @author.books.any?
      %h3 Книги
      .list-group
        -@author.books.each do |book|
          =render 'books/book', book: book

