%nav.navbar.navbar-inverse
  .container
    .navbar-header
      .navbar-brand
        .pull-right
          =image_tag ("logo_5.png"),src: root_path, size:"25x25", data: {toggle: "collapse", target:"#menu"}

      =link_to ?#, class: "navbar-toggle collapsed", data: {toggle: "collapse", target:"#menu"} do
        =fa_icon 'bars'
      =link_to "Библиотека", root_path, class: "navbar-brand"#, "logo_5.png"
    #menu.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Все книги", books_path
        %li= link_to "Корзина", line_items_path
        %li=link_to "Авторы", authors_path
        %li=link_to "Жанры", genres_path



      %ul.nav.navbar-nav.navbar-right
        -if @current_user.try(:admin?)
          %li=link_to 'Пользователи', users_path
        -if @current_user
          %li.dropdown
            =link_to ?#, class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              =@current_user.email
              =fa_icon 'angle-down'
            %ul.dropdown-menu
              -#%li=link_to "Корзина", line_items_path
              -#-#%li=link_to "Избранное", @electee
              %li=link_to "Пользователь", @current_user
              %li=link_to "Заказы", book_orders_path
              %li=link_to 'Выход', logout_path, data:{method: :patch}
        -else
          %li=link_to 'Регистрация', new_user_path
          %li=link_to 'Вход', login_path

      -#
      -#
      -#%ul.nav.navbar-nav.navbar-right
      -#  -if @current_user.blank?
      -#    %li= link_to "Регистрация", new_user_path
      -#    %li= link_to "Войти", login_path
      -#  -elsif !@current_user.blank?
      -#    %li
      -#      = link_to "#{@current_user.email}", @current_user
      -#    -if  @current_user.admin?
      -#      %li= link_to "Пользователи", users_path

            -#%span.navbar-text=@current_user.email, user
        -#
        -#-if @current_user.blank?
        -#  -if  @current_user.admin?
        -#    %li= link_to "Пользователи", users_path

          %li
            = link_to "Выйти", logout_path, data:{method: :patch}